<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="device=device-width, initial-scale=1.0">
        <title>Stennis's Blog</title>
        <link rel="icon" href="../Images/image1.png" type="/image.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <!--SEO Meta Tags-->
        <meta name="type" content="Blog Website for articles">
        <meta name="author" content="Stennis Smith">
        <meta name="keywords" content="articles, blog">
    </head>


    <body>
            <div class="article-collage">
            <h1>Home Page</h1>
            
            <p>Good morning, {{name}} </p>

            <section class="article1">
                
            <p><a href="../articles/article1.md" rel="article1" target="_blank">
                    The Assasination Attemtps on a Former US President</a></p>
                    <p>Click to read more on the article</p>
            </section>

            <section class="article2"> 
                <p><a href="../articles/article2.md" rel="article2" target="_blank">
                    A series of DID YOU KNOW?!</a></p>
                <p>An articles to read for the ages!</p>
            </section>


            <section class="article3"> 
                <p><a href="../articles/article3.json" rel="article3" target="_blank">
                    FIRST ARTICLE!</a></p>
                <p>First Blog Article!</p>
            </section>
        </div>
    
    </body>


</html> 